.header {
  height: 70px;
  /* margin-bottom: rem(120px); */
  margin-top: 24px;
}

.inner {
  height: rem(500px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  
}

.buttonAcc {
  background-color: white;
  color: #919191;
  margin-right: 30px;
}

.buttonCart {
  background-color: #919191;
  color: white;
  margin-right: 30px;
}

.search {
  margin-left: 244px;
}