.header {
  height: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  margin-right: 0px !important;
}

.buttonSearch {
  background-color: #919191 !important;
  color: white !important;
  margin-right: 30px;
  margin-left: 0px !important;
}

.buttonAcc {
  background-color: white;
  color: #919191;
  margin-right: 30px;
  width: 135px;
}

.buttonLoginSignup {
  display: flex;
  justify-content: column;
  align-items: center;
  width: 100% !important;
}

.buttonCart {
  background-color: #919191 !important;
  color: white !important;
  width: 190px;
  /* margin-right: 30px; */
}

.drawerTopText {
  display: flex;
  justify-content: center;
  align-items: center;
}
