.headerBlackMenu {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.headerWhiteMenu {
  background-color:#F7F7F7;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  font-size: 12px;
}
