.headerBlackMenu {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.headerWhiteMenu {
  background-color: #f7f7f7;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  font-size: 10px;
}
