.loginButton {
    background-color: black;
    color: white;
    /* width: auto; */
    height: 55px;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: center !important;
    align-items: center;
    /* margin-top: 30px; */
  }
  
  .loginButton:hover {
      background-color: black;
    }