.drawerTopText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawerBottomButton {
  background-color: black;
  color: white;
  width: auto;
  height: 72px;
  font-weight: 600;
  font-size: large;
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin: 15px;
}

.drawerBottomButton:hover {
  background-color: black;
}

.drawerContent {
  display: flex;
  flex-direction: column;
}

.drawerSumTextAndButton {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  height: 100%;
  padding-top: 100%;
}

.productsInCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawerSumText {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
}



