.topSellerH3 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.productListProtein {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    font-weight: 800;
}

.productListBelowText {
    justify-content: center;
    align-items: center;
    display: flex;
}